html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

/* Header */

.woodstock-logo-image {
    height: 28px;
    width: 140px;
}

.woodstock-header {
    overflow: visible;
    background-color: white;
}

.woodstock-header .material-icons {
    color: #767777 !important;
}

.woodstock-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
}

/* Navigation */

.woodstock-navigation-container {
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.woodstock-navigation {
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
}

.woodstock-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.woodstock-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
}

@media (max-width: 900px) {
    .woodstock-navigation-container {
        display: none;
    }

    .woodstock-title {
        display: none !important;
    }
}

/* Drawer */

.woodstock-drawer {
    border-right: none;
}

.woodstock-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
}

.woodstock-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
}

.woodstock-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
}

.woodstock-drawer .woodstock-logo-image {
    position: absolute;
    bottom: 16px;
}

/* Content */

.woodstock-content {
    padding: 80px 0;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

.mdl-card__actions a {
    border-top: none;
    font-size: 16px;
    color: #8bc34a !important;
}

/* Unit list */

.woodstock-content .unit-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
}

.unit-card-container {
}

.unit-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
}

.unit-card-container .mdl-card__media img {
    width: 100%;
}

.unit-card-container .mdl-card__title {
    background: transparent;
    height: auto;
}

.unit-card-container .mdl-card__title-text {
    height: auto;
}

.unit-card-container .mdl-card__supporting-text {
    height: auto;
    padding-bottom: 56px;
}

.unit-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
}

/* Unit view */

.section--center {
    /*max-width: 860px;*/
    margin-bottom: 48px;
}

.unit-view-card-actions {
    margin: 0;
    padding: 4px 40px;
    color: inherit;
}

.unit-view-wide.mdl-card {
    width: 512px;
}

.unit-view-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}

/* Unit view details section */

section .section__text:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.13);
    padding-bottom: 8px;
}

@media (max-width: 900px) {
    .unit-image-preview {
        display: none;
    }
}

/* Footer */

.woodstock-footer {
    background-color: #f7f7f7;
    position: relative;
}

.woodstock-link {
    text-decoration: none;
    color: #8bc34a !important;
}
