<!-- Title -->
<div class="unit-section-title mdl-typography--display-1-color-contrast">More from Woodstock</div>
<!-- Unit cards -->
<div class="unit-card-container mdl-grid">
    <div ng-repeat="model in models"
         class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp">
        <!-- Image -->
        <div class="mdl-card__media">
            <img src="http://tfirdaus.github.io/mdl/images/laptop.jpg" alt=""/>
        </div>
        <!-- Title -->
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">{{model.firstField}}</h4>
        </div>
        <!-- Description -->
        <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-thin mdl-typography--subhead">
                    {{model.secondField}}
                </span>
        </div>
        <!-- Actions -->
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                Read More
            </a>
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                Update
            </a>
        </div>
    </div>
</div>
